body {
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.container h2 {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-button, .social-button, .register-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.main-button {
    background-color: #007bff;
    color: #fff;
}

.social-button {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    margin-bottom: 5px;
}

.social-button img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}


.register-button {
    background-color: #28a745;
}

.back-button {
    background-color: #b9c1c9; /* Голубой цвет */
    color: white;
}

.qr-code {
    margin-bottom: 10px;
}

.forgot-password {
    margin-bottom: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: underline;
}

